swagger: "2.0"
info:
  title: VIN-Exams API DOC
  description: "API doc for VIN-Exams app"
  version: 1.0.0
basePath: /api
tags:
  - name: auth
    description: Login, logout
  - name: subject
    description: Môn học
  - name: exam
    description: Bài kiểm tra
schemes:
  - http
paths:
  /login:
    post:
      tags:
        - auth
      summary: Đăng nhập
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Thông tin form
          required: true
          schema:
            $ref: "#/definitions/Auth"
      responses:
        "200":
          description: Đăng nhập thành công
          schema:
            properties:
              token:
                type: string
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ikhvcm5ldHRyYW5zbHVjZlW50IiwidXNlcl9pZCI6MywiZXhwIjoxNTc4MTU5MTAzLCJpc3MiOiJLaHVvbmcgTmd1eWVuIn0.2hL3LHxpq6LvYO7rTbBxfcRVnH-fBYa-ODxK3SN1jus
        "400":
          description: Thông tin đăng nhập không hợp lệ
        "401":
          description: Mật khẩu không chính xác
  /subjects:
    get:
      tags:
        - subject
      summary: Danh sách môn học
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: "#/definitions/SubjectsList"
        "401":
          description: Unauthorized
          schema:
            properties:
              error:
                type: string
                example: Invalid token / Token has been expired
        "503":
          description: Lỗi kết nối database
  /subjects/:id/exams:
    get:
      tags:
        - exam
      summary: Danh sách bài thi trong môn học
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: params
          description: ID môn học
          required: true
      responses:
        "200":
          description: success
          schema:
            $ref: "#/definitions/ExamsList"
        "401":
          description: Unauthorized
          schema:
            properties:
              error:
                type: string
                example: Invalid token / Token has been expired
        "503":
          description: Lỗi kết nối database
  /exams/:id:
    get:
      tags:
        - exam
      summary: Xem bài thi
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: params
          description: ID bài thi
          required: true
      responses:
        "200":
          description: success
          schema:
            $ref: "#/definitions/Exam"
        "400":
          description: ID truyền không hợp lệ
        "401":
          description: Unauthorized
          schema:
            properties:
              error:
                type: string
                example: Invalid token / Token has been expired
        "404":
          description: Không tìm thấy bài thi
  /exams/:id/test:
    get:
      tags:
        - exam
      summary: Làm bài thi
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: params
          description: ID bài thi
          required: true
      responses:
        "200":
          description: success
          schema:
            $ref: "#/definitions/FullExam"
        "400":
          description: ID truyền không hợp lệ
        "401":
          description: Unauthorized
          schema:
            properties:
              error:
                type: string
                example: Invalid token / Token has been expired
        "404":
          description: Không tìm thấy bài thi

definitions:
  Auth:
    properties:
      phone_number:
        type: string
        example: 0303030303
      password:
        type: string
        example: abcxyz
  Subject:
    properties:
      id:
        type: integer
      name:
        type: string
        example: Toán
  SubjectsList:
    properties:
      subjects:
        type: array
        items:
          $ref: "#/definitions/Subject"
  Exam:
    properties:
      id:
        type: integer
      name:
        type: string
        example: Kiểm tra giữa kỳ
      time_allow:
        type: integer
        example: 30
      status:
        type: integer
        example: 1
      questions_count:
        type: integer
        example: 20
      subject_id:
        type: integer
        example: 1
  ExamsList:
    properties:
      exams:
        type: array
        items:
          $ref: "#/definitions/Exam"
  QuestionAnswer:
    properties:
      id:
        type: integer
      content:
        type: string
        example: $30
  Question:
    properties:
      id:
        type: integer
      content:
        type: string
        example: How much is this?
      question_answers:
        type: array
        items:
          $ref: "#/definitions/QuestionAnswer"
  FullExam:
    properties:
      id:
        type: integer
      name:
        type: string
        example: Kiểm tra giữa kỳ
      time_allow:
        type: integer
        example: 30
      status:
        type: integer
        example: 1
      subject_id:
        type: integer
        example: 1
      questions:
        type: array
        items:
          $ref: "#/definitions/Question"
